<div class="container">
    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>

                </thead>
                <tbody>
                    
                    @for (item of usersArray; track $index) {
                     <tr>
                        <td>{{item.id}} </td>
                        <td>{{item.name}} </td>
                        <td>{{item.username}} </td>
                        <td>{{item.email}} </td>
                        <td>
                            <button class="btn btn-sm btn-success" (click)="onEdit(item.id)">Edit</button>
                        </td>
                    </tr>
                    }
                
                </tbody>
            </table>
        </div>
        <div class="col-6 table-end">
            <form [formGroup]="userForm">
                <div class="row">
                    <div class="col-4">
                        <label for="">Name</label>
                        <input type="text" class="form-control" formControlName="name">
                        <div class="text-danger" *ngIf="userForm.controls?.['name']?.touched">
                            <span *ngIf="userForm.controls?.['name']?.errors?.['required']">
                                This field is required
                            </span>
                            <span *ngIf="userForm.controls?.['name']?.errors?.['minLength']">
                                This field is required
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="">Username</label>
                        <input type="text" class="form-control" formControlName="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="">Email</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-success" (click)="saveUser()">Save User</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
